@import "../../../styles/globals.scss";

.queue-element {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 150px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: $accent-color;

  border-radius: 10px;

  margin-right: 0.3rem;
  padding: 1rem;
}

.title {
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

@keyframes spinCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-circle {
  animation: spinCircle 1s linear infinite;
  width: 20px;
  height: 20px;

  border: 3px solid $accent-background-color;
  border-top: 3px solid $base-color;
  border-radius: 50%;
}

.uploaded-text {
  width: 100%;
  
  color: $background-color;

  font-family: $main-font;
  text-align: center;
}
