@import "../../../styles/globals.scss";

.container {
    display: flex;
    width: 100%;
    height: fit-content;

    justify-content: center;
}

.button {
  width: 10rem;
  min-width: fit-content;
  height: 3rem;

  color: $background-color;
  background-color: $accent-color;

  font-family: $main-font;
  text-align: center;

  border-radius: 100vw;
  border: 3px solid transparent;

  transition: 0.2s ease-in-out;
  backface-visibility: hidden;

  &:hover {
    cursor: pointer;
    width: 11.2rem;
    // height: 3.2rem;
    // transform: scale(1.05);
  }
}
